.app-toolbar {
  position: absolute;
  top: 0;
  box-shadow: 0px 3px 14px -10px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  z-index: 999;
  background: #fefefe;

  .mat-icon {
    display: block;
  }
}

.app-container {
  margin-top: 64px;
  height: Calc(100vh - 64px);

  .app-drawer {
    width: 40vw;
    max-width: 200px;
    padding-top: 10px;
    background: #173245;
    color: white;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .app-content {
    padding: 15px;
  }

}


@media screen and (min-width: 700px) {
  .app-toolbar {
    .mat-icon {
      display: none;
    }
  }

  .app-container {
    .app-drawer {
      width: 20vw;
      max-width: 200px;
    }
  }
}
